openapi: 3.1.0
info:
  title: BNP Paribas Connexis Cash - STET PSD2 Account Information (AISP) Accounts Transactions API
  description: 'PSD2 Account Information Service (AISP) for BNP Paribas Connexis Cash,

    exposed by BNP Paribas CIB and aligned to the French STET PSD2 standard

    (1.4.0.47, Full-AISP "A1" model). Authentication uses OAuth 2.0

    Authorization Code in production (Client Credentials in sandbox) and

    requires a QWAC for TLS. The mock sandbox returns simulated data only.

    '
  version: 1.4.0
  contact:
    name: BNP Paribas CIB Developer Portal
    url: https://developers.cib.bnpparibas.com/index.php/api-docs/account-information-psd2-stet-mock
servers:
- url: https://psd2.api.cib.bnpparibas.com/gb-account-information-psd2-stet
  description: BNP Paribas CIB - PSD2 STET AISP (production / mock)
security:
- oauth2:
  - aisp
tags:
- name: Transactions
paths:
  /v1/accounts/{accountResourceId}/transactions:
    get:
      tags:
      - Transactions
      summary: Retrieve transactions for an account
      parameters:
      - in: path
        name: accountResourceId
        required: true
        schema:
          type: string
      - in: query
        name: dateFrom
        schema:
          type: string
          format: date
      - in: query
        name: dateTo
        schema:
          type: string
          format: date
      - in: query
        name: entryReferenceFrom
        schema:
          type: string
      responses:
        '200':
          description: Account transactions
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/TransactionList'
components:
  schemas:
    Transaction:
      type: object
      properties:
        resourceId:
          type: string
        entryReference:
          type: string
        transactionAmount:
          type: object
          properties:
            amount:
              type: string
            currency:
              type: string
        creditDebitIndicator:
          type: string
          enum:
          - CRDT
          - DBIT
        status:
          type: string
          enum:
          - BOOK
          - OTHR
          - PDNG
        bookingDate:
          type: string
          format: date
        valueDate:
          type: string
          format: date
        remittanceInformation:
          type: array
          items:
            type: string
    TransactionList:
      type: object
      properties:
        transactions:
          type: object
          properties:
            booked:
              type: array
              items:
                $ref: '#/components/schemas/Transaction'
            pending:
              type: array
              items:
                $ref: '#/components/schemas/Transaction'
        _links:
          type: object
          additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.cib.bnpparibas.com/oauth2/v1/authorize
          tokenUrl: https://api.cib.bnpparibas.com/oauth2/v1/token
          scopes:
            aisp: Account Information Service
        clientCredentials:
          tokenUrl: https://api.cib.bnpparibas.com/oauth2/v1/token
          scopes:
            aisp: Account Information Service (sandbox)
