openapi: 3.1.0
info:
  title: BNP Paribas Connexis Cash - STET PSD2 Account Information (AISP)
  description: |
    PSD2 Account Information Service (AISP) for BNP Paribas Connexis Cash,
    exposed by BNP Paribas CIB and aligned to the French STET PSD2 standard
    (1.4.0.47, Full-AISP "A1" model). Authentication uses OAuth 2.0
    Authorization Code in production (Client Credentials in sandbox) and
    requires a QWAC for TLS. The mock sandbox returns simulated data only.
  version: "1.4.0"
  contact:
    name: BNP Paribas CIB Developer Portal
    url: https://developers.cib.bnpparibas.com/index.php/api-docs/account-information-psd2-stet-mock
servers:
  - url: https://psd2.api.cib.bnpparibas.com/gb-account-information-psd2-stet
    description: BNP Paribas CIB - PSD2 STET AISP (production / mock)
security:
  - oauth2: [aisp]
tags:
  - name: Consents
  - name: Accounts
  - name: Balances
  - name: Transactions
  - name: Beneficiaries
paths:
  /v1/consents:
    post:
      tags: [Consents]
      summary: Forward the PSU consent to the ASPSP
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConsentRequest" }
      responses:
        "201":
          description: Consent recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConsentResponse" }
  /v1/accounts:
    get:
      tags: [Accounts]
      summary: List PSU accounts available to the AISP
      responses:
        "200":
          description: A list of accounts
          content:
            application/hal+json:
              schema: { $ref: "#/components/schemas/AccountList" }
  /v1/accounts/{accountResourceId}:
    get:
      tags: [Accounts]
      summary: Retrieve a single account
      parameters:
        - { in: path, name: accountResourceId, required: true, schema: { type: string } }
      responses:
        "200":
          description: Account details
          content:
            application/hal+json:
              schema: { $ref: "#/components/schemas/Account" }
  /v1/accounts/{accountResourceId}/balances:
    get:
      tags: [Balances]
      summary: Retrieve balances for an account
      parameters:
        - { in: path, name: accountResourceId, required: true, schema: { type: string } }
      responses:
        "200":
          description: Account balances
          content:
            application/hal+json:
              schema: { $ref: "#/components/schemas/BalanceList" }
  /v1/accounts/{accountResourceId}/transactions:
    get:
      tags: [Transactions]
      summary: Retrieve transactions for an account
      parameters:
        - { in: path, name: accountResourceId, required: true, schema: { type: string } }
        - { in: query, name: dateFrom, schema: { type: string, format: date } }
        - { in: query, name: dateTo, schema: { type: string, format: date } }
        - in: query
          name: entryReferenceFrom
          schema: { type: string }
      responses:
        "200":
          description: Account transactions
          content:
            application/hal+json:
              schema: { $ref: "#/components/schemas/TransactionList" }
  /v1/trusted-beneficiaries:
    get:
      tags: [Beneficiaries]
      summary: Retrieve PSU trusted beneficiaries
      responses:
        "200":
          description: Trusted beneficiaries list
          content:
            application/hal+json:
              schema: { $ref: "#/components/schemas/BeneficiaryList" }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.cib.bnpparibas.com/oauth2/v1/authorize
          tokenUrl: https://api.cib.bnpparibas.com/oauth2/v1/token
          scopes:
            aisp: Account Information Service
        clientCredentials:
          tokenUrl: https://api.cib.bnpparibas.com/oauth2/v1/token
          scopes:
            aisp: Account Information Service (sandbox)
  schemas:
    ConsentRequest:
      type: object
      properties:
        balances:
          type: array
          items: { $ref: "#/components/schemas/AccountReference" }
        transactions:
          type: array
          items: { $ref: "#/components/schemas/AccountReference" }
        trustedBeneficiaries: { type: boolean }
        psuIdentity: { type: boolean }
    ConsentResponse:
      type: object
      properties:
        _links:
          type: object
          additionalProperties:
            type: object
            properties:
              href: { type: string }
    AccountReference:
      type: object
      properties:
        iban: { type: string }
        bicFi: { type: string }
        currency: { type: string }
        other:
          type: object
          properties:
            identification: { type: string }
            schemeName: { type: string }
            issuer: { type: string }
    Account:
      type: object
      properties:
        resourceId: { type: string }
        accountId: { $ref: "#/components/schemas/AccountReference" }
        name: { type: string }
        product: { type: string }
        cashAccountType: { type: string }
        currency: { type: string }
        psuStatus: { type: string }
    AccountList:
      type: object
      properties:
        accounts:
          type: array
          items: { $ref: "#/components/schemas/Account" }
        _links:
          type: object
          additionalProperties: true
    Balance:
      type: object
      properties:
        name: { type: string }
        balanceAmount:
          type: object
          properties:
            amount: { type: string }
            currency: { type: string }
        balanceType: { type: string }
        referenceDate: { type: string, format: date }
        lastChangeDateTime: { type: string, format: date-time }
    BalanceList:
      type: object
      properties:
        balances:
          type: array
          items: { $ref: "#/components/schemas/Balance" }
    Transaction:
      type: object
      properties:
        resourceId: { type: string }
        entryReference: { type: string }
        transactionAmount:
          type: object
          properties:
            amount: { type: string }
            currency: { type: string }
        creditDebitIndicator:
          type: string
          enum: [CRDT, DBIT]
        status:
          type: string
          enum: [BOOK, OTHR, PDNG]
        bookingDate: { type: string, format: date }
        valueDate: { type: string, format: date }
        remittanceInformation:
          type: array
          items: { type: string }
    TransactionList:
      type: object
      properties:
        transactions:
          type: object
          properties:
            booked:
              type: array
              items: { $ref: "#/components/schemas/Transaction" }
            pending:
              type: array
              items: { $ref: "#/components/schemas/Transaction" }
        _links:
          type: object
          additionalProperties: true
    Beneficiary:
      type: object
      properties:
        creditorAccount: { $ref: "#/components/schemas/AccountReference" }
        creditorAgent:
          type: object
          properties:
            bicFi: { type: string }
        creditor:
          type: object
          properties:
            name: { type: string }
        isTrusted: { type: boolean }
    BeneficiaryList:
      type: object
      properties:
        trustedBeneficiaries:
          type: array
          items: { $ref: "#/components/schemas/Beneficiary" }
